beagleboard/pocketbeagle @yegortimoshenko
dell/xps/13-9370 @moredread
dell/xps/13-9380 @kalbasit
lenovo/thinkpad/x230 @makefu @yegortimoshenko
lenovo/thinkpad/x250 @Mic92
pcengines/apu @yegortimoshenko
purism/librem/13v3 @yegortimoshenko
