use nix

# following the advice from https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
# load developer's own local .env

dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html
