,*
*~
/doc/manual.html
/doc/manual.pdf
/doc/NEWS.html
/doc/NEWS.txt
.DS_Store
/nixos/modules/flyingcircus/.vagrant
/pkgs/applications/kde-apps-*/tmp/
/pkgs/desktops/plasma-*/tmp/
/pkgs/development/libraries/kde-frameworks-*/tmp/
/pkgs/development/libraries/qt-5/*/tmp/
result
result-*
*.sw?
tags
.version-suffix
