*~
,*
.*.swp
.*.swo
result
result-*
/doc/NEWS.html
/doc/NEWS.txt
/doc/manual.html
/doc/manual.pdf
.version-suffix
/nixos/doc/manual/manual.html
/nixos/doc/manual/manual.pdf
/nixos/doc/manual/options-db.xml
/nixos/doc/manual/version
