matrix:
    include:
        - os: linux
          language: generic
          sudo: required
          dist: trusty
          script:
              - ./maintainers/scripts/travis-nox-review-pr.sh verify
              - ./maintainers/scripts/travis-nox-review-pr.sh check
              - ./maintainers/scripts/travis-nox-review-pr.sh tarball
        - os: linux
          language: generic
          sudo: required
          dist: trusty
          script: ./maintainers/scripts/travis-nox-review-pr.sh pr
        - os: osx
          language: generic
          osx_image: xcode7.3
          script: ./maintainers/scripts/travis-nox-review-pr.sh pr
install: ./maintainers/scripts/travis-nox-review-pr.sh install
git:
    depth: 1
