# original : https://aur.archlinux.org/cgit/aur.git/plain/ccpd.service?h=capt-src

[Unit]
Description=Canon CAPT daemon
Requires=org.cups.cupsd.service
After=org.cups.cupsd.service

[Service]
Type=forking
ExecStart=/usr/bin/ccpd

[Install]
WantedBy=printer.target
