[Desktop Entry]
Categories=Utility;
Comment=Tool to create bootable USB drive for ISO/WIM/IMG/VHD(x)/EFI files
Exec=ventoy-gui
Hidden=false
Icon=VentoyLogo
Name=Ventoy
StartupNotify=true
Terminal=false
Type=Application
