<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.nixos.xquartz.privileged_startx</string>
    <key>ProgramArguments</key>
    <array>
      <string>@PRIVILEGED_STARTX@</string>
      <string>-d</string>
      <string>@PRIVILEGED_STARTX_D@</string>
    </array>
    <key>MachServices</key>
    <dict>
      <key>org.nixos.xquartz.privileged_startx</key>
      <true/>
    </dict>
    <key>TimeOut</key>
    <integer>120</integer>
    <key>EnableTransactions</key>
    <true/>
  </dict>
</plist>
