[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - @title@
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=@description@
Icon=openra-@name@
Exec=openra-@name@
Terminal=false
Categories=Game;StrategyGame;X-RTS;X-RealTimeStrategy;X-RealTimeStrategyGame;
