appdirs==1.4.3
asciimatics==1.11.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
configobj==5.0.6
configparser==3.7.4
contextlib2==0.5.5
decorator==4.4.0
distro==1.4.0
dulwich==0.19.11
dvc==0.41.3
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
grandalf==0.6
humanize==0.5.1
idna==2.8
inflect==2.1.0
jsonpath-ng==1.4.3
nanotime==0.5.2
networkx==2.3
Pillow==6.0.0
ply==3.11
pyasn1==0.4.5
pyfiglet==0.8.post1
pyparsing==2.4.0
pytest-runner==5.1
requests==2.22.0
ruamel.yaml==0.15.96
schema==0.7.0
setuptools-scm==3.3.3
six==1.12.0
smmap2==2.0.5
treelib==1.5.5
urllib3==1.25.3
wcwidth==0.1.7
zc.lockfile==1.4
