Checks:
- -*
- bugprone-*
# don't find them too problematic
- -bugprone-easily-swappable-parameters
- performance-*
- modernize-*
- readability-*
# don't find them too problematic
- -readability-identifier-length
- -readability-magic-numbers
- portability-*
- concurrency-*
- google-*
- -google-readability-todo
- misc-*
# we maybe want to address this?
- -misc-no-recursion
# TODO
#  - cppcoreguidelines-*
#  - -cppcoreguidelines-avoid-magic-numbers
UseColor: true
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: True
