define host {
    name                            generic-host
    notifications_enabled           1
    event_handler_enabled           1
    flap_detection_enabled          1
    failure_prediction_enabled      1
    process_perf_data               1
    retain_status_information       1
    retain_nonstatus_information    1
    notification_period             24x7
    register                        0
}


define host {
    name                            generic-server
    use                             generic-host
    check_period                    24x7
    max_check_attempts              10
    check_command                   check-host-alive
    notification_period             24x7
    notification_interval           120
    notification_options            d,u,r
    contact_groups                  admins
    register                        0
    #check_interval                 1
}
