alabaster==0.7.11
alembic==0.8.10
amqp==2.3.2
apache-airflow==1.9.0
apache-beam==2.4.0
appdirs==1.4.3
asn1crypto==0.24.0
avro==1.8.2
Babel==2.6.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.4
billiard==3.5.0.4
bitarray==0.8.3
bleach==2.1.2
boto==2.49.0
boto3==1.7.58
botocore==1.10.58
cachetools==2.1.0
celery==4.2.0
certifi==2018.4.16
cffi==1.11.5
cgroupspy==0.1.6
chardet==3.0.4
click==6.7
colorama==0.3.9
configparser==3.5.0
cookies==2.2.1
crcmod==1.7
croniter==0.3.24
cryptography==2.2.2
defusedxml==0.5.0
dicttoxml==1.7.4
dill==0.2.8.2
docker-py==1.10.6
docker-pycreds==0.3.0
docopt==0.6.2
docutils==0.14
enum34==1.1.6
eventlet==0.23.0
fasteners==0.14.1
filechunkio==1.8
Flask==0.11.1
Flask-Admin==1.4.1
Flask-Bcrypt==0.7.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
flask-swagger==0.2.13
Flask-WTF==0.14
flower==0.9.2
freezegun==0.3.10
funcsigs==1.0.0
future==0.16.0
futures==3.2.0
gapic-google-cloud-pubsub-v1==0.15.4
gevent==1.3.4
gitdb2==2.0.4
GitPython==2.1.11
google-api-python-client==1.5.5
google-apitools==0.5.20
google-auth==1.5.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
google-cloud-bigquery==0.25.0
google-cloud-core==0.25.0
google-cloud-dataflow==2.4.0
google-cloud-pubsub==0.26.0
google-gax==0.15.16
googleapis-common-protos==1.5.3
googledatastore==7.0.1
greenlet==0.4.13
grpc-google-iam-v1==0.11.4
grpcio==1.13.0
gunicorn==19.9.0
hdfs==2.1.0
hive-thrift-py==0.0.1
html5lib==1.0.1
httplib2==0.9.2
idna==2.7
imagesize==1.0.0
impyla==0.13.3
inflection==0.3.1
ipaddress==1.0.22
itsdangerous==0.24
JayDeBeApi==1.1.1
Jinja2==2.8.1
jira==2.0.0
jmespath==0.9.3
JPype1==0.6.3
kombu==4.2.1
librabbitmq==1.6.1
lockfile==0.12.2
lxml==3.8.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
mock==2.0.0
monotonic==1.5
moto==1.1.19
mysqlclient==1.3.13
nose==1.3.7
nose-ignore-docstring==0.2
nose-timer==0.7.3
numpy==1.14.5
oauth2client==2.0.2
oauthlib==2.1.0
ordereddict==1.1
packaging==17.1
pandas==0.23.3
pandas-gbq==0.5.0
parameterized==0.6.1
paramiko==2.4.1
pbr==4.1.0
ply==3.8
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-pubsub-v1==0.15.4
protobuf==3.6.0
psutil==4.4.2
psycopg2==2.7.5
pyaml==17.12.1
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
Pygments==2.2.0
PyHive==0.6.0
PyJWT==1.6.4
PyNaCl==1.2.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySmbClient==0.1.5
python-daemon==2.1.1
python-dateutil==2.7.3
python-editor==1.0.3
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2018.5
PyVCF==0.6.8
PyYAML==3.13
qds-sdk==1.9.8
rednose==1.3.0
requests==2.19.1
requests-mock==1.5.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.13
sasl==0.2.1
setproctitle==1.1.10
singledispatch==3.4.0.3
six==1.11.0
slackclient==1.2.1
smmap2==2.0.4
snakebite==2.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-argparse==0.2.2
Sphinx-PyPI-upload==0.2.1
sphinx-rtd-theme==0.4.0
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.10
tabulate==0.7.7
termstyle==0.1.11
thrift==0.11.0
thrift-sasl==0.3.0
tornado==5.1
typing==3.6.4
unicodecsv==0.14.1
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.23
vine==1.1.4
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.14.1
WTForms==2.2.1
xmltodict==0.11.0
zope.deprecation==4.3.0
