SUBSYSTEM=="usb", ATTR{bInterfaceNumber}=="02", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0001", TAG+="bequiet"
SUBSYSTEM=="usb", ATTR{bInterfaceNumber}=="02", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0002", TAG+="bequiet"
SUBSYSTEM=="usb", ATTR{bInterfaceNumber}=="02", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0003", TAG+="bequiet"
SUBSYSTEM=="usb", ATTR{bInterfaceNumber}=="02", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0005", TAG+="bequiet"
SUBSYSTEM=="usb", ATTR{bInterfaceNumber}=="02", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0007", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0009", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="000a", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0010", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0011", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0016", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0017", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0023", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0024", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0025", TAG+="bequiet"
SUBSYSTEM=="usb", ATTRS{idVendor}=="373f", ATTRS{idProduct}=="0026", TAG+="bequiet"
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", TAGS=="bequiet", MODE="0660", TAG+="uaccess"
