name: Build

on: push

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest] # macos-latest
        include:
          - platform: ubuntu-latest
            configure_preset: 'static'
            build_preset: 'static-release'
            release_name: 'linux-x86-64'
            cc: 'gcc-11'
            cxx: 'g++-11'

          - platform: windows-latest
            configure_preset: 'windows-static'
            build_preset: 'windows-static-release'
            release_name: 'windows-x64'
  
    runs-on: ${{matrix.platform}}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'

    - uses: lukka/get-cmake@latest

    - name: Run vcpkg
      uses: lukka/run-vcpkg@v10
      with:
        vcpkgJsonGlob: 'vcpkg.json'

    - name: Install requirements
      run: sudo apt install gcc-11 g++-11
      if: matrix.platform == 'ubuntu-latest'

    - name: Set compiler
      run: |
           echo "CC=${{matrix.cc}}" >> $GITHUB_ENV
           echo "CXX=${{matrix.cxx}}" >> $GITHUB_ENV
      shell: bash
      if: matrix.cc != ''

    - name: Run cmake
      uses: lukka/run-cmake@v10
      with:
        configurePreset: ${{matrix.configure_preset}}
        buildPreset: ${{matrix.build_preset}}

    - name: Upload wfs-extract
      uses: actions/upload-artifact@v2
      with:
        name: wfs-extract-${{matrix.release_name}}
        path: build/${{matrix.configure_preset}}/wfs-extract/Release
    - name: Upload wfs-file-injector
      uses: actions/upload-artifact@v2
      with:
        name: wfs-file-injector-${{matrix.release_name}}
        path: build/${{matrix.configure_preset}}/wfs-file-injector/Release

    - name: Prepare Release Windows
      run: powershell Compress-Archive -Path build\${{matrix.configure_preset}}\wfs-file-injector\Release\wfs-file-injector.exe, build\${{matrix.configure_preset}}\wfs-extract\Release\wfs-extract.exe -DestinationPath wfs-tools-${{github.ref_name}}-${{matrix.release_name}}.zip
      if: matrix.platform == 'windows-latest'
    - name: Prepare Release Linux
      run: zip -r -j wfs-tools-${{github.ref_name}}-${{matrix.release_name}}.zip build/${{matrix.configure_preset}}/wfs-file-injector/Release/wfs-file-injector build/${{matrix.configure_preset}}/wfs-extract/Release/wfs-extract
      if: startsWith(github.ref, 'refs/tags/') && matrix.platform != 'windows-latest'

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: wfs-tools-${{github.ref_name}}-${{matrix.release_name}}.zip

