name: cygwin
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: build
        run: nix build .#cygwinSystem.config.system.build.tarball
      - uses: actions/upload-artifact@v4
        with:
          name: tarball
          path: result
  test:
    runs-on: windows-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: tarball
      - name: install
        run: tarball/install.ps1 cygwin
      - name: build
        shell: cygwin/cygwin.ps1 {0}
        run: nix build --no-sandbox nixpkgs#hello
      # - uses: actions/upload-artifact@v4
      #   with:
      #     name: tarball
      #     path: result
