---

on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    name: Build Nix targets
    runs-on: ubuntu-22.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v22
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v5
        with:
          ignore-missing-flake-lock: false
          fail-mode: true
