name: "No channel PR"

on:
  pull_request:
    paths:
      - .github/workflows/no-channel.yml
  pull_request_target:
    # Re-run should be triggered when the base branch is updated, instead of silently failing
    types: [opened, synchronize, reopened, edited]

permissions: {}

jobs:
  fail:
    if: |
      startsWith(github.event.pull_request.base.ref, 'nixos-') ||
      startsWith(github.event.pull_request.base.ref, 'nixpkgs-')
    name: "This PR is targeting a channel branch"
    runs-on: ubuntu-24.04-arm
    steps:
      - run: |
          cat <<EOF
          The nixos-* and nixpkgs-* branches are pushed to by the channel
          release script and should not be merged into directly.

          Please target the equivalent release-* branch or master instead.
          EOF
          exit 1
